Flask==3.0.3
tensorflow==2.15.0
keras==2.15.0
opencv-python==4.9.0.80
numpy==1.26.4
Pillow==10.3.0
scikit-learn==1.4.2
matplotlib==3.8.4
h5py==3.10.0
werkzeug==3.0.3
torch
torchvision
torch==2.10.0
torchvision==0.25.0
